* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../fonts/Lato-Regular.ttf) format("truetype");
}

/*CSS for Header section - start*/
header {
    height: 100px;
    display: grid;
    margin: 20px 0;
    row-gap: 10px;
}
header .logoContainer {
    text-align: center;
}
header a img {
    width: 156px;
    height: 44px;
    object-fit: contain;
}
header .navigation {
    justify-content: space-evenly;
}
header .navigation ul {
    grid-template-columns: repeat(3, 100px);
}
header .navigation ul li a {
    text-decoration: none;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1d1d1d;
}
header .userNav {
    justify-content: space-around;
    grid-row: 0.6666666667;
}
header .userNav ul {
    grid-template-columns: repeat(3, 40px);
    justify-content: end;
}
header nav {
    display: inline-flex;
    align-items: center;
}
header nav ul {
    display: grid;
}
header nav ul li {
    list-style: none;
}
header nav ul li img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}
/*CSS for Header section - end*/

/*CSS for Footer section - start*/
footer {
    background-color: #fbfbfb;
    display: grid;
    justify-items: center;
}
footer h5 {
    font-family: "Arimo";
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #1d1d1d;
}
footer ul {
    list-style: none;
    margin: 10px 0 25px 0;
}
footer ul li {
    text-align: center;
}
footer ul li a {
    font-family: "Lato";
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #1d1d1d;
}
footer .topFooter {
    margin: 50px 0;
    display: grid;
}
footer .topFooter input {
    margin: 20px 0 0 0;
    border: none;
    border-bottom: 1px solid #1d1d1d;
    padding: 0px 10px;
    outline: none;
    background-color: #fbfbfb;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555;
    font-family: "Lato";
}
footer .topFooter button {
    font-family: "Lato";
    background-color: #f00 0;
    color: #1d1d1d;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 0 5px;
}
footer .bottomFooter {
    display: grid;
}
footer .bottomFooter div + div {
    grid-row: 0.5;
    padding: 15px 0px;
}
footer .bottomFooter div + div img {
    width: 56px;
    height: 34px;
}
footer .bottomFooter div > p {
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #1d1d1d;
}
footer .bottomFooter div > a, footer .bottomFooter div > a + a {
    padding: 0 5px;
    display: inline-block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: #1d1d1d;
}

/*CSS for Footer section - end*/

/*CSS for Banner section - start*/
.banner {
    position: relative;
}
.banner picture {
    width: 100vw;
    display: inline-block;
    object-fit: cover;
    height: 100vh;
    overflow: hidden;
}
.banner picture source, .banner picture img {
    min-width: 100%;
}
.banner div {
    position: absolute;
    width: 290px;
    height: 250px;
    left: 50px;
    top: 190px;
    color: #fff;
    text-align: center;
}
.banner div h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 25px 0;
}
.banner div a {
    width: 118px;
    height: 36px;
    padding: 5px 10px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    border: 4px solid #fff;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

/*CSS for Banner section - end*/

/*CSS for Button section - start*/
.btn {
    display: flex;
    margin: 50px 0;
    justify-content: center;
}
.btn a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 18px 36px;
    gap: 10px;
    text-decoration: none;
}
.btn a span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}
/*CSS for Button section - end*/

/*CSS for Cards section - start*/
.cards a {
    text-decoration: none;
}
.cards h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    font-family: "Arimo";
    color: #1d1d1d;
}
.cards p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #555;
    margin: -5px 0 30px 0;
}
.cards .cardContainer {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}
.cards .cardContainer .img_container {
    width: 295px;
    height: 342px;
    overflow: hidden;
    object-fit: fill;
}
.cards .cardContainer h6 {
    color: #1d1d1d;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}
.cards .cardContainer p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0;
    color: #024e82;
}
/*CSS for Cards section - end*/

/*CSS for Offers section - start*/
.offers {
    display: grid;
    justify-items: center;
    margin: 40px 20px;
    row-gap: 20px;
}
.offers .offerSection {
    background-color: #000;
    display: grid;
    justify-items: center;
}
.offers .offerSection h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    padding: 0 20px;
    margin-top: 50px;
}
.offers .offerSection h3 + p {
    margin-top: 20px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}
.offers .offerSection h3 + p + a {
    width: 140px;
    height: 48px;
    background: #fff;
    box-shadow: 0px 6px 15px #000 0a;
    margin: 20px 0 50px 0;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    display: flex;
    color: #024e82;
    justify-content: center;
    align-items: center;
}
/*CSS for Offers section - end*/

/*CSS for Policy section - start*/
.policy {
    display: grid;
    justify-content: center;
    row-gap: 20px;
    margin: 50px 0;
    justify-items: center;
}
.policy div > img {
    width: 30px;
    height: 28px;
    padding: 5px 0 0 0;
}
.policy .policyTile {
    display: grid;
    grid-template-columns: 35px 200px;
    column-gap: 10px;
}
.policy .policyTile div > h4 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #1d1d1d;
}
.policy .policyTile h4 + P {
    font-family: "Lato";
    padding-top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
/*CSS for Policy section - end*/

/*CSS for Founders section - start*/
.founders h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    font-family: "Arimo";
    color: #1d1d1d;
}
.founders .founderContainer {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}
.founders .founderContainer .img_container {
    width: 295px;
    height: 280px;
    overflow: hidden;
    object-fit: fill;
}
.founders .founderContainer h6 {
    color: #1d1d1d;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}
/*CSS for Founders section - end*/

/*CSS for Product Cards section - start*/
.productCards {
    margin: 15px 0;
}
.productCards .cardContainer {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}
.productCards .cardContainer .img_container {
    position: relative;
}
.productCards .cardContainer a {
    top: 220px;
    width: 120px;
    height: 40px;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 5px 10px;
    font-family: "Lato";
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    color: #14517b;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 6px 15px #000 0a;
    border-radius: 26px;
}
.productCards .cardContainer .img_container img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: contain;
}
/*CSS for Product Cards section - end*/

/*Media Queries for Mobile Responsiveness - start*/
@media only screen and (min-width: 768px) {
	header {
	grid-template-columns: 150px 300px 130px;
	align-content: space-around;
	justify-content: space-around;
	margin: 0;
	height: 88px;
	row-gap: 0px;
   }
    header .navigation {
        justify-content: flex-start;
   }
    header .logoContainer {
        text-align: left;
   }
    header .userNav {
        justify-content: flex-end;
        grid-row: 0.5;
        grid-column: 0.75;
   }
   
    footer .topFooter {
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        width: 100%;
   }
    footer .topFooter div {
        text-align: center;
   }
    footer .bottomFooter {
        grid-template-columns: auto 300px;
        width: 100%;
   }
    footer .bottomFooter div + div {
        grid-column: 0.6666666667;
        display: flex;
        justify-content: space-around;
   }
    footer .bottomFooter div > p {
        text-align: left;
   }
    footer .bottomFooter p + a {
        padding-left: 0px;
   }
    footer .bottomFooter > div {
        padding: 0 20px;
   }
    
	.banner div {
        width: 500px;
        left: 200px;
        top: 350px;
   }
   
    .cards h3 {
        margin-top: 30px;
   }
    .cards p {
        margin-bottom: 25px;
   }
    .cards .cardContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
   }
   
    .offers {
        grid-template-columns: 300px 300px;
        justify-items: center;
        justify-content: center;
        column-gap: 18px;
   }
   
    .policy {
        grid-template-columns: 300px 300px;
        margin: 60px 0;
   }
   .founders {
    padding-bottom: 30px;
    }
    .founders h3 {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .founders .founderContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
    .productCards {
        margin: 30px 0;
   }
    .productCards .cardContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
   }
}
/*Media Queries for Mobile Responsiveness - end*/

/*Media Queries for Tablet Responsiveness - start*/
@media only screen and (min-width: 992px) {
	header {
        grid-template-columns: 300px 500px 300px;
        align-content: space-around;
        justify-content: space-around;
        margin: 0;
        height: 88px;
        row-gap: 0px;
   }
    header .logoContainer {
        text-align: left;
   }
    header .navigation {
        justify-content: flex-start;
   }
    header .userNav {
        justify-content: flex-end;
        grid-row: 0;
        grid-row: 0.5;
        grid-column: 0.75;
   }

    footer .topFooter {
        gap: 50px;
        grid-template-columns: repeat(3, 300px) 400px;
   }
    footer .topFooter h5 {
        text-align: left;
   }
    footer .topFooter li {
        text-align: left;
   }
    footer .topFooter div {
        text-align: left;
   }

    .banner picture {
        height: 648px;
   }
    .banner div {
        position: absolute;
        width: 492.42px;
        height: 104px;
        left: 770.03px;
        top: 296px;
        color: #fff;
   }

    .cards h3 {
        margin-top: 30px;
   }
    .cards p {
        margin-bottom: 25px;
   }
    .cards .cardContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(4, 300px);
        justify-content: center;
   }

    .offers {
        grid-template-columns: 60% 40%;
        display: grid;
        margin: 10%;
        justify-items: stretch;
   }
    .offers .offerSection {
        height: 400px;
   }
    .offers .offerSection h3 {
        margin-top: 100px;
        padding: 0px 70px;
   }
    .offers .offerSection h3 + p {
        padding: 0 90px;
   }
    .offers .offerSection h3 + p + a {
        margin: 20px 0 100px 0;
   }

    .policy {
        grid-template-columns: repeat(4, 300px);
        margin: 75px 0;
   }

    .founders {
        padding-bottom: 30px;
    }
    .founders h3 {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .founders .founderContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(4, 300px);
        justify-content: center;
    }

    .productCards {
        margin: 70px 0;
   }
    .productCards .cardContainer {
        justify-items: center;
        column-gap: 18px;
        grid-template-columns: repeat(2, 600px);
        justify-content: center;
   }
    .productCards .cardContainer a {
        font-weight: 400;
        font-size: 24px;
        font-size: 24px;
        line-height: 20px;
        top: 500px;
        width: 196px;
        height: 67px;
        box-shadow: 0px 6px 15px #000 0a;
   }
    .productCards .cardContainer .img_container img {
        width: 600px;
        height: 600px;
        overflow: hidden;
        object-fit: contain;
   }
}
/*Media Queries for Tablet Responsiveness - end*/